@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

:root {
  --primary: #323232;
  --secondary: #d40946;
  --white: #fff;
  --back-color: #ccc;
  --text-color: #333;
  --gray: #666;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.btn {
  padding: 10px 15px;
  background-color: var(--secondary);
  color: var(--black);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
}

.btn:hover {
  background-color: #e20a4b;
  opacity: 1;
  cursor: pointer;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

input:focus {
  outline: none;
}

/* Header */
header {
  background-color: var(--primary);
  border-bottom: solid 2px #121212;
}

header .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header a {
  color: var(--white);
  font-size: 1.25rem;
  text-decoration: none;
  transition: all 0.35s ease;
}

header a:hover {
  opacity: 0.85;
}

header .brand a {
  font-weight: bold;
  font-size: 1.5rem;
}

header .nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

header .nav-links li {
  display: inline-block;
  margin-right: 30px;
}

header .nav-links li:last-child {
  margin-right: 0;
}

/* Search page */
.add-content {
  padding: 50px 0;
  max-width: 600px;
  margin: 0 auto;
}

.add-content .search-movie input {
  width: 100%;
  background-color: var(--back-color);
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: var(--text);
  font-size: 1.25rem;
}

.results {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.results li {
  list-style: none;
}

.movie-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.movie-card .movie-poster img,
.empty-poster {
  width: 90px;
  height: 130px;
  background-color: #dbdada;
  border-radius: 5px;
  margin-right: 15px;
  display: block;
  color: transparent;
}

.movie-card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-card .info .title {
  font-size: 1.25rem;
  color: var(--text-color);
  font-weight: 600;
  margin: 0;
}

.movie-card .info .date {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--gray);
  margin: 0;
}

.movie-card .controls button {
  margin-right: 10px;
}

/* Movies pages */
.movie-page {
  padding: 30px 0;
}

.movie-page .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.count-movies {
  display: block;
  background-color: var(--secondary);
  padding: 5px 15px;
  font-size: 1.125rem;
  font-weight: 700;
  border-radius: 999px;
  color: var(--text-color);
}

.movie-page .heading {
  color: var(--text-color);
  margin: 0;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.list-movie-card {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  border: none;
  display: flex;
}

.list-movie-card img {
  width: 100%;
  display: block;
}

.list-movie-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.list-movie-card:hover .overlay {
  border: 2px solid var(--secondary);
}

.list-movie-card .inner-card-controls {
  display: inline;
  background-color: var(--secondary);
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #222a;
  border-radius: 5px;
  padding: 3px;
  opacity: 0;
  transition: all 0.3s ease;
}

.list-movie-card:hover .inner-card-controls {
  opacity: 1;
}

.ctrl-btn {
  color: #eee;
  background-color: transparent;
  border: none;
  transition: all 0.35s ease;
  font-size: 1.25rem;
  padding: 5px;
  margin: 0;
}

.ctrl-btn:hover {
  color: var(--secondary);
  cursor: pointer;
}

.movie-page .no-movies {
  color: #c4c4c4;
  font-size: 3rem;
  text-align: center;
}


/* ----resposive---- */

/* movies list  */
@media (min-width: 992px) {
  .movie-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}


/* body  */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}